.main_box {
    -fx-font-size: 14px;
    -fx-background-color: white;
}

.channel_box {
    -fx-background-color: #FAFAFA;
}

.label {
    -fx-text-fill: #6441A5;
}

.card {
    -fx-background-color: white;
    -fx-padding: 5px;
    -fx-effect: dropshadow(one-pass-box, gray, 6, 0, 1, 3);
}
.card .title {
    -fx-font-size: 16px;
    -fx-text-fill: black;
}
.card .game {
    -fx-font-size: 12px;
    -fx-font-style: italic;
    -fx-text-fill: #666;
}
.card .date, .card .duration {
    -fx-font-size: 12px;
    -fx-text-fill: #666;
}
.card .preview {
    -fx-padding: 5px;
    -fx-background-size: 100% 100px;
    -fx-background-color: red;  
}
.card .jfx-button {
    -fx-button-type: FLAT;
    -fx-background-color: white;
    -fx-text-fill: #322;
}

.scroll-bar:vertical .thumb {
 -fx-background-color: #6441A5;
 -fx-background-insets: 0 4 0 4;
 -fx-background-radius: 2em;
}
.jfx-button {
    -fx-button-type: FLAT;
    -fx-background-color: #6441A5;
    -fx-text-fill: WHITE;
}
.jfx-progress-bar .bar {
    -fx-stroke: #6441A5;
}
